#pass {
    border-radius: 25px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;
    color: black;
    border-style: double;
    border-color: black;
}

.mensaje-error {
    color: red;
    padding-left: 95px;
}

.mensaje-normal {
    color: orange;
    padding-left: 70px;
}

.mensaje-seguro {
    color: green;
    padding-left: 95px;
}
